.card {
    border: 10px solid #E53038;
    height: 300px;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.card .quote {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 2px red;
    
}